{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block page_title %} Get in Touch {% endblock %}
{% block page_subtitle %} I'd Love to Hear from You {% endblock %}
{% block page_image %}{% static 'assets/img/contact-bg.jpg' %}{% endblock %}

{% block content %}
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as possible!</p>
                <div class="my-5">
                {% crispy form %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
