{% extends "blog/base.html" %}
{% load static %}

{% block page_title %} HOME {% endblock %}
{% block page_subtitle %} ARTICLES {% endblock %}
{% block page_image %}{% static 'assets/img/home-bg.jpg' %}{% endblock %}

{% block content %}
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

            {% for article in article_list %}
            <!-- Post preview-->
            <div class="post-preview">
                <a href="{% url 'blog:article_detail' article.pk %}">
                    <h2 class="post-title">{{ article.title }}</h2>
                    <h3 class="post-subtitle">{{ article.subtitle }}</h3>
                </a>
                <p class="post-meta">
                    Posted by {{ article.author }}
                    on {{ article.published_date }}
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            {% endfor %}

            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
        </div>
    </div>
</div>
{% endblock %}